body {
    background-color: rgb(226, 226, 226);
    color: rgb(78, 78, 78);
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
header {
    text-align: center;
    display: block;
    padding: 10px;

}
nav {
    background-color:darkred;
    text-align: center;
    list-style-type: none; 
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    background-color:darkred;
    list-style-type: none; 
}

nav a {
    text-decoration: none;
    color: rgb(217, 216, 219);
    transition: all ease-in 0.2s;
}

nav a:hover {
    text-decoration: none;
    color: rgb(190, 106, 106);
}

.container {
   text-align: center;
}

img {
    width: 50%;
    padding: 0 2%;
    height: 10%;
}
footer {
    background-color: darkred;
    color: rgb(233, 233, 233);
    margin-top: 75px;
    padding: 0.5px;
}
ul {
    display: inline-block;
  }
  
