body {
    background-color: rgb(226, 226, 226);
    color: rgb(78, 78, 78);
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
header {
    padding: 10px;
}
nav {
    background-color:darkred;
    font-size:medium;
    padding: 0 2%;
    color: rgb(223, 225, 226);
    
}
nav ul {
    list-style-type: none;
    color: #b1aeae;
    margin: 0;
    padding: 0;
  }
  
nav li {
    display:inline-block;
    text-align: center;
    list-style-type: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(217, 216, 219);
    transition: all ease-in 0.2s;
}
nav a:hover {
    text-decoration: none;
    color: rgb(172, 172, 172);
}
img {
    width: 35%;
    padding: 0 2%;
    height: 10%;
}
footer {
    background-color: darkred;
    color: rgb(233, 233, 233);
    margin-top: 75px;
    padding: 0.5px;
}
ul {
    display: inline-block;
  }


